body {
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
}

div {

}

form {

}


label {

}

button, input {

}

.gpu-btn {

}

.miner-form-row {

}

.col {

}



.container {
  width: 1170px;

}

.container {

}

.gpu-input-container {

}

.gpu-input-btn {

}

.gpu-input {

}

.dynamic {

}